# Shortener Service (Rust)
DATABASE_URL=postgres://user:password@db:5432/app
REDIS_URL=redis://redis:6379
REDIS_EXP=3600
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION_ACCESS=900
JWT_EXPIRATION_REFRESH=1296000

# Analytics Service (Python)
DATABASE_URL_ANALYTICS=postgresql+asyncpg://user_analytics:password_analytics@analytic_db:5432/analytics
REDIS_URL=redis://redis:6379

# Postgres Configuration (Docker)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=app

POSTGRES_USER_ANALYTICS=user_analytics
POSTGRES_PASSWORD_ANALYTICS=password_analytics
POSTGRES_DB_ANALYTICS=analytics
